.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1rem;
    @include tablet-view{
        display: block;
    }

}
.header,.footer,.newsletter{
    grid-column-start: 1;
    grid-column-end: 5;
}
.main{
    grid-column-start: 1;
    grid-column-end: 3;

}
.aside{
    grid-column-start: 4;
    grid-column-end: 5;
    width: 20rem;
    padding-right: 1rem;
    @include tablet-view{
        display: none;    
}
}
.news-list{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    padding-left: 5rem;
    @include tablet-view{
        grid-template-columns: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
}